<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <%= link_to "AI BRAIN DELEGATE", root_path %>
    </div>
    <%= render 'shared/navigation' %>
  </div>
</header>